*{
    margin:0;
    padding:0;
}

.content {
    padding: 20px 10px;
    width: 90%;
    text-align: left;
    margin-bottom: 30px;
    margin:auto;
}

.content p{
    line-height: 28px;
    margin-bottom: 3px;
}

.auto-style2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
    width: 527px;
    height: 316px;
}

.fees {
    display:flex;
    justify-content:center;
}